<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="idv.tfp10105.project_forfun">
    <!-- 網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 定位網路權限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 相機權限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 錄音權限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 跳轉全螢幕 -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <!-- 使用硬體功能相機 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <!-- 使用硬體功能map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- 描述跳轉相機意圖 -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
    <!-- 描述跳轉相簿意圖 -->
    <queries>
        <intent>
            <action android:name="android.media.action.PICK" />
        </intent>
    </queries>
    <!-- 電話App -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
    </queries>

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:screenOrientation="portrait"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_ForFun"
        android:usesCleartextTraffic="true">
        <activity android:name=".orderconfirm.TappayActivity"></activity>

        <!-- TapPay -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!-- google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASx_a02Y9i2-6jhgG0EB1_WDfQnsmNnJE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Ucrop -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- 註冊FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--Notification FCM-->
        <service
            android:name=".membercenter.Notification.NotificaitonFCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>